button {
  background-color: #65e5ff;
  color: white;                               
  padding: 0.5rem 0.9rem;        
  border: none;
  border-radius: 8px;           
  box-shadow: 0 4px 6px rgba(0,0,0,0.3); 
  cursor: pointer;
  transition: background-color 0.3s ease;
  line-break: strict;
}

button:hover {
    background-color: #40dfff;     
    transform: scale(1.04); 
    opacity: 0.95;      
}

#authorInfo {
  text-align: center;
}

#authorImage {
  width: 250px;
  border-radius: 8px;
  margin: 1rem 0;
}

#authorName {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

#authorInfo p {
  margin: 0.3rem 0;
  font-size: 1rem;
  color: #333;
}

#closeModal {
  display: block;
  margin: 1rem auto 0;
  padding: 0.5rem 1.2rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

#closeModal:hover {
  background-color: #0056b3;
}